<div class="flex gap-2">
  <input type="text" [(ngModel)]="taskInput"
  class="p-2 px-2 rounded w-80 dark:bg-dark-quartiary dark:text-dark-text" />
  <select class="p-2 px-2 w-32 rounded dark:bg-dark-quartiary dark:text-dark-text"> 
    <option value="1">Task</option>
    <option value="2">Event</option>
    <option value="3">Important</option>
    <option value="4">Note</option>
    <option value="5">Insight</option>
    <option value="6">Search</option>
  </select>
  <button class="px-4 py-2 rounded bg-light-button text-white hover:bg-light-buttonHover dark:bg-dark-button dark:hover:bg-dark-buttonHover">Add</button>
</div>
